.CLI {
    width: 90%;
    height: 98vh;
    background-color: #1d1d1d;
    /*background-color: crimson;*/
    border-radius: 15px;

}

.content_contanier {
    padding-top: 5px;
    height: 87%;
    width: 94%;
    background-color: #1d1d1d;
    color: white;
    overflow-y: scroll;
    transform: translate(3%,0);
}

.input_container {
    height: 10%;
    background-color: #1d1d1d;
    font-family: 'Courier New', Courier, monospace;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 3%;
    margin-right: 2%;
    /*margin-top: 1%;*/
    margin-bottom: 10px;
    background-color: #363636;
    border-radius: 40px;
    height: 40px;
}

button{
    border-radius: 40px;
    height: 40px;
    width: 40px;
    background-color: crimson;
}

.active, .collapsible:hover {
    background-color: #ccc;
}